<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398366770184-t03ptrnvmfmv97v1scl1vaj6abj4ogsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398366770184-t03ptrnvmfmv97v1scl1vaj6abj4ogsr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>398366770184-egvcmptomjfv9nb33ggp2p33crnjb3s0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAHOtRH0HrPEpuALqeBpfWSrBWipCtAEz4</string>
	<key>GCM_SENDER_ID</key>
	<string>398366770184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-9798a</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-9798a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398366770184:ios:26975d7800ec5dbee87dbd</string>
</dict>
</plist>